{{ define "main" }}
<article class="single-article">
    <div class="container">
        <header class="article-header">
            <h1>{{ .Title }}</h1>
            <div class="article-meta">
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                    {{ .Date.Format "January 2, 2006" }}
                </time>
                {{ with .Params.author }}
                    <span class="author">by {{ . }}</span>
                {{ end }}
            </div>
        </header>
        
        <div class="article-content">
            {{ .Content }}
        </div>
        
        {{ if .Params.tags }}
        <div class="article-tags">
            <h3>Tags:</h3>
            {{ range .Params.tags }}
                <a href="{{ $.Site.BaseURL }}topics/{{ . | urlize }}/" class="tag">{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</article>
{{ end }}