<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "{{ .Site.BaseURL }}"
        }{{ if or .IsSection .IsPage }}, {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ if .IsPage }}{{ .Title }}{{ else if .IsSection }}{{ .Section | humanize }}{{ end }}",
          "item": "{{ .Permalink }}"
        }{{ end }}
      ]
    }{{ if .IsPage }},
    {
      "@type": "{{ if eq .Section "blog" }}BlogPosting{{ else }}Article{{ end }}",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      },
      "headline": "{{ .Title }}",
      "image": [
        "{{ with .Params.image }}{{ . }}{{ else }}{{ .Site.BaseURL }}default-og-image.jpg{{ end }}"
      ],
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "author": {
        "@type": "Person",
        "name": "{{ with .Params.author }}{{ . }}{{ else }}BlockWireNews Team{{ end }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "BlockWireNews",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ .Site.BaseURL }}logo.png"
        }
      },
      "description": "{{ with .Params.description }}{{ . }}{{ else }}Your source for crypto guides & headlines.{{ end }}"
    }
    {{ end }}
  ]
}
</script>